.players-container {
  width: 500px;
  height: 500px;
  background-color: #efe5e5;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
}

.heading {
  margin: 20px 0;
  font-size: 20px;
  color: #575151;
}

.filter {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #c4c4c4;
  font-size: 16px;
}

.filter:focus {
  outline: none;
}

.filter option {
  padding: 10px 0;
}

.dragging-over {
  background-color: #ffe4e4;
}
